<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="Splunk.ApiKey" value=""/>
    <add key="Splunk.Url" value="http://server-name:8088/services/collector/raw"/>
    <add key="Exchange.User" value="user@domain.com"/>
    <add key="Exchange.Pwd" value="pwd"/>
    <add key="Exchange.Url" value="https://outlook.office365.com/EWS/Exchange.asmx"/>
    <add key="Exchange.MessagesPerPoll" value="100"/>
  </appSettings>
</configuration>